{% extends "base.html" %}


{% block content %}
<!--Info section -->
<article class="container">
    <section class="Info_section">
        <div class="row">
            <div class="col-12">
                <p class="lead mt-5 text-primary text-opacity-75"><strong>Book with our appoint-Dr. app for you and
                        your family better
                        health!</strong></p>


                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 vstack gap-1">
                            <ul class="fa-ul fs-4">
                                <li><span class="fa-li"><i class="fa-thin fa-stethoscope"></i></span>Manage your
                                    online
                                    appointments on your finger tip.</li>
                                <br>

                                <li><span class="fa-li"><i class="fa-solid fa-stomach"></i></span>Easy to cancel and
                                    reschedule!
                                </li>
                                <br>

                                <li><span class="fa-li"><i class="fa-solid fa-heart-pulse"
                                            aria-hidden="true"></i></span>Get an email
                                    reminder a day before your appointment!</li>
                                <br>
                            </ul>
                            <button class="btn btn-primary btn-lg">Book Now!</button>


                            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">Available
                                Specialists</button>
                            <div id="collapseExample" class="collapse text-center" style="width: 150px;">
                                <button style="width: 300px;">Gastroentrologist</button>
                                <button style="width: 300px;">Neurologist</button>
                                <button style="width: 300px;">Pediatrician</button>
                                <button style="width: 300px;">Psychiatrist</button>
                                <button style="width: 300px;">Nephrologist</button>
                            </div>
                        </div>

                        <div class="col-sm-6">

                            <img src="../booking/images.doc1.jpeg" class="img-thumbnail" alt="..." width="400"
                                height="400">
                        </div>
                    </div>
                </div>
    </section>
</article>
{% endblock %}