<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appointDr.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</head>

<body>
    <article class="container">
        <!--- Caption -->
        <div class="row">
            <section class="caption">
                <h1>JM Clinic</h1>
                <h3>appoint-Dr.</h3>
                <a href="HOME"></a>
                <a href="ABOUT"></a>
                <a href="CONTACT"></a>
            </section>
        </div>
        <!--- /. caption -->
        <hr>

        <!--Info page -->
        <section class="Info_page">
            <p class="lead"><strong>Book with our appoint-Dr. app for you and your family better health!</strong></p>
            <ul>
                <ul class="">
                    <li>Manage your online appointments on your finger tip.</li>
                    <li>Easy to cancel and reschedule!</li>
                    <li>Get an email reminder a day before!</li>
                    <button class="btn btn-info btn-lg">Book Now!</button>
                </ul>

                <h2>Available Specialists</h2>

                <p>Gastrology</p>
                <div class="row">
                    <div class="container">
                        <img src=" ">
                        <img src=" ">
                        <img src=" ">
                    </div>

                    <p>Neurology</p>
                    <div class="container">
                        <img src=" ">
                        <img src=" ">
                        <img src=" ">
                    </div>
                </div>
                <div class="row">
                    <p>Pediatrician</p>
                    <div class="container">
                        <img src=" ">
                        <img src=" ">
                        <img src=" ">
                    </div>


                    <p>Psychiatry</p>
                    <div class="container"></div>
                    <div class="row">
                        <div class="col-6">
                            <img src=" ">
                            <img src=" ">
                            <img src=" ">
                        </div>
                    </div>
                </div>
                <button class="btn btn-info btn-lg">Read more and book now!</button>
        </section>
        <!--header -->
        <hr>
        <!-- footer -->
        <section>
            <p>Opening Hours</p>
            <p>Adress</p>
        </section>
        <!--/. footer-->
    </article>
</body>

</html>