<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appointDr./JM Clinic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!--Navigation bar-->

    <nav class="navbar navbar-default bg-danger">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand fs-1 fw-bold" href="#">
                    <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                        class="d-inline-block align-text-top text-white">
                    JM Specialized Clinic</a>
                <p class="fs-3 mt-3"><i>Aiming to keep you well!</i></p>
            </div>
        </div>
    </nav>
    <a class="btn btn-primary container-fluid btn-lg d-block gap-2" href="#" role="button">
        <p class="text-left">appoint-Dr.</p>
        <button type="button" class="btn btn-outline-light text-uppercase">Home</button>
        <button type="button" class="btn btn-outline-light text-uppercase">Sign Up</button>
        <button type="button" class="btn btn-outline-light text-uppercase">Login</button>
    </a>


    <!--Info section -->
    <article class="container">
        <section class="Info_section">
            <div class="row">
                <div class="col-12">
                    <p class="lead mt-5"><strong>Book with our appoint-Dr. app for you and your family better
                            health!</strong></p>
                            




                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fa-thin fa-stethoscope"></i></span>Manage your online
                            appointments on your finger tip.</li>
                        <br>

                        <li><span class="fa-li"><i class="fa-solid fa-stomach"></i></span>Easy to cancel and reschedule!
                        </li>
                        <br>

                        <li><span class="fa-li"><i class="fa-solid fa-heart-pulse"></i></span>Get an email
                            reminder a day before!</li>
                        <br>
                    </ul>
                    <button class="btn btn-primary btn-lg">Book Now!</button>
                </div>
            </div>
        
        </section>

<section>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#demo">Available
            Specialists</button>
        <div id="demo" class="collapse">
            <button>Gastroentrologist</button>
            <button>Neurologist</button>
            <button>Pediatrician</button>
            <button>Psychiatrist</button>
            <button>Nephrologist</button>
        
        </div>
    </section>
        <!-- footer -->
        
        <!--/. footer-->
    </article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>


</body>

</html>