body {
    background-color: whitesmoke;
}

.one{
  background-color:#206398;
  font-size: 60px;
}

.logo{
  font-size: 60px;
  text-align: center;
  margin-left: 60px;
  letter-spacing: 5px;
}

.lead{
  margin-left: 80px;
  font-size: 26px;
  color:#48CFAD;
}

.two{
    font-size: 30px;
    background-color: #48CFAD;
  }
 
.info-section{
  font-size: 20px;
  font-style: oblique;
  line-height:50px ;
  color: #206398;
 }

 .btn-two{
  background-color: #48CFAD;
  text-decoration: none 
 }

 .footer-container{
  margin-top: 30px;
}

.footer-1{
    background-color:#206398;
    padding-top:30px;
    padding-bottom: 30px;
    font-size: 30px;
}

.footer-2{
  background-color:#48CFAD;
  padding-top: 30px;
}

.footer-3{
  background-color:#206398;
  padding-top:30px; 
  font-size: 30px;
}

.social-links{
 font-size: 60px;
 margin-bottom: 30px;
}

.navbar-fixed-bottom{
  font-size: 30px;
 }

 .forms_patient{
margin-top: 300px;
margin-right: 100px;
 }

.signup{
margin-top: 300px;
margin-right: 100px;
margin-left: 200px;
padding: 300px;
 }
