{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appointDr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/c2f08e0ae8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!--Logo Header-->

    <nav class="one navbar col-12">
        <p class="brand logo fw-bold text-white mx-auto">appoint-Dr.</p>
    </nav>


    <!--Navigation bar-->

    <nav class="two navbar justify-content-center">
        <ul class="navbar-nav mb-lg-0 d-flex flex-row">

            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white" href="{% url 'home_page' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white" href="{% url 'add_patient' %}">Add
                    patient</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white" href="{% url 'add_booking' %}">Add
                    Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white"
                    href="{% url 'manage_bookings' %}">Manage Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white"
                    href="{% url 'account_logout' %}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-home btn-outline-light text-uppercase text-white"
                    href="{% url 'account_login' %}">Signin</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
    <section id="alerts">
        {% for msg in messages %}

        <aside
            class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} text-center"
            role="alert">
            <h3>{{ msg }}</h3>
        </aside>
        {% endfor %}
    </section>
    {% endif %}

    {% block content %}
    {% endblock  %}

    <!-- footer -->
    <footer class="container-fluid footer-container">
        <div class="row  navbar-fixed-bottom text-white">
            <div class="footer-1 col-sm-4 text-center text-capitalize">
                <p class="display-5">Opening Hours</p>
                <p>Monday - Friday: 8:00 - 17:00</p>
                <p>Saturday- Sunday: 9.00 - 16:00 </p>
            </div>
            <div class="footer-2 col-sm-4 text-center display-5">
                <p>Social Medias</p>
                <a target="_blank" href="#">
                    <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
    <br> 
                
                <a target="_blank" href="#">
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <br>
                <a target="_blank" href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <span class="sr-only">Linkedin</span>
                </a>

            </div>
            <div class="footer-3 col-sm-4 text-center text-capitalize">
                <p class="display-5">Address</p>
                <p>appoint-Dr.</p>
                <p>Fyrbåksvägen 2</p>
                <p>722 10 västerås</p>
            </div>
        </div>
    </footer>

</body>

</html>